DATABASE_URL=postgresql://<user>:<password>@<host>:5432/<database>?sslmode=require
GEE_PROJECT=bam-benin-gee
GEE_CREDENTIALS_JSON={"refresh_token":"...","client_id":"...","client_secret":"...","project":"...","type":"authorized_user"}

# Optionnel : NASA
NASA_USERNAME=
NASA_PASSWORD=

# Grafana -> PostgreSQL cloud
GRAFANA_DB_HOST=<host>:5432
GRAFANA_DB_NAME=<database>
GRAFANA_DB_USER=<user>
GRAFANA_DB_PASSWORD=<password>
GRAFANA_DB_SSLMODE=require
